@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/static/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Oswald'; 
    src: url(/fonts/Oswald/static/Oswald-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2833;
    height: 8rem;
}

.dark-mode__button {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 4rem;
    min-height: 2rem;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mode-icon {
    width: 3rem;
    transition: transform 1s ease;
}

.mode-icon:hover {
    transform: rotate(90deg);
}

h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto;
}

.icon {
    width: 4rem;
}

.container-wrapped {
    height: 100%; 
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.container-left-aside {
    background-color: #f4f4f5;
}

.main-container {
    display: grid;
    grid-template-rows: 9fr 1.5fr;
    background-color: #fefdfc;
}

.options-container {
    display: flex;
    justify-content: end;
    display: relative;
}

.options-icon {
    width: 3rem;
}

.options-button {
    margin-right: 3rem;
    background-color: transparent;
    border: none;
}

.container-right-aside {
    background-color: #f4f4f5;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12%;
    width: 70%;
}

.table__button {
    font-size: 13px;
    font-weight: bold;
    min-width: 10rem;
    color: #fff;
    border: none;
    background-color: #1F2833;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.table__button:hover {
    background-color: #324052;
    transform: scale(1.10);
    box-shadow: 0 0 20px 2px #464646;
}

.sort__button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sort__button:hover {
    transform: scale(1.20);
}

.sort-icon {
    max-width: 1.5rem;
}

.dropdown-filters {
    position: absolute;
    background-color: #324052; 
    color: #fff;
    left: 51rem;
    bottom: 13rem;
    width: 14rem;  
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px #cccccc;
    font-family: sans-serif;

    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.dropdown-filters.active {
    opacity: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
    transition-delay: 0s;
    z-index: 100;
}

.dropdown-filters__title {
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

.dropdown-filters__label {
    margin-bottom: .4rem;
    margin-top: .7rem;
}

.dropdown-filters__input {
    margin-bottom: .8rem;
    border-radius: 5px;
    padding: .8rem;
}

.fieldset-type {
    display: flex;
    align-items: center;
}

.table__search {
    color: #fff;
    background-color: #1F2833;
    border: none;
    border-radius: 5px;
    padding: 1em 2em; 
    width: 50rem;
    margin-left: .8rem;
}

#table__search::placeholder {
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}

table {
    position: relative;
    background-color: #1F2833;
    border-radius: 5px;
    box-shadow: 0 0 20px #6e6e6e;
}

thead {
    color: #fff;
}

th, td {
    text-align: center;
    font-family: sans-serif;
    padding: 1rem 1.5em;
    font-size: 18px;
}

tbody tr {
    transition: background-color 0.3s ease, color 0.3s ease;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(odd):hover {
    cursor: pointer;
    background-color: #b8b8b8;
}

tbody tr:nth-child(even) {
    color: rgb(216, 216, 216);
    background-color: #6d7681;
}

tbody tr:nth-child(even):hover {
    cursor: pointer;
    background-color: #364150;
}

.actions-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.actions-button:hover {
    transform: scale(1.20);
}

tbody tr:nth-child(odd) .actions-button {
    color: #6b6b6b;
}

tbody tr:nth-child(even) .actions-button {
    color: #fff;
}

.movement-type-field {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.movement-type-field:hover {
    transform: scale(1.10);
}

.movement-type {
    padding: .2rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #9effa3;
    box-shadow: 0 0 20px#b8b8b8;
}

.movement-type:hover {
    background-color: #cefdd1;
}

.expense {
    background-color: #ff6e6e;
}

.expense:hover {
    background-color: #ff9e9e;
}

tbody tr:nth-child(even) .movement-type{
    color: #000000;
}

.negative {
    color: #ff5151;
}

.positive {
    color: #7bfd84;
}

.options-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 3.3%;
    top: 45rem;
    right: 12rem;
}

.settings-container {
    position: relative;
}

.options {
    position: absolute;
    bottom: 4rem;
    left: .2rem;
}

.options__buttons {
    display: block;
    margin-bottom: .8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.options__buttons:hover {
    transform: scale(1.10);
}
.options-button {
    cursor: pointer;
    transition: transform 1s ease;
}

.options-button:hover {
    transform: rotate(90deg);
}
a
.options__icons {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    width: 3.5rem;
}

.options__icons.show {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2833;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    min-height: 8rem;
}

.footer-container {  
    display: flex;
    justify-content: space-around;
    align-items: center;  
    min-width: 38rem;   
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90vw;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #44505f;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.modal__header {
    display: grid;
    grid-template-columns: 95% 3fr;
}

.modal__title h5 {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: Roboto;
}

.modal__close-button {
    display: flex;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 20px;
    font-family: Oswald;
    cursor: pointer;
    background-color: #f57878;
    height: 40%;

}

.modal__label {
    margin: .5rem 0 .5rem 0;
    font-family: sans-serif;
}

.modal__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 2rem;
}

.modal__input {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.modal__footer {
    padding-inline: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__button {
    cursor: pointer;
    padding: .6rem 3.9rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.modal__button:hover {
    transform: scale(1.06);
    box-shadow: 0 0 5px #d1d1d1;
}

.reset--button {
    background-color: transparent;
    border-color: #c0c0c0;
    color: #c0c0c0;
}

.save--button {
    background-color: #82E887;
    border: none;
}

.modal.active {
    display: block;
}

.options-container-table {
  position: relative;
  display: inline-block;
}

.dropdown {
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    border: 1px solid #C5C6C7;
    border-radius: 5px;
    padding: 0.3rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown__option {
  background: none;
  border: none;
  color: #000000;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.dropdown__option:hover {
  background-color: #1F2833;
  color: white;
}

.hidden {
  display: none;
}